*{
    padding:0px;
    margin:0px;
    border:0px;
    font-size:16px;
    box-sizing:border-box;
}
:root{
    --theme-color: #6200ee ;
    --grey-border-color:#9790908a;
    --black-backgrond:#333333;
    --text-grey-color:#0000008a;
    --grey-background-color:#f2f2f2;
}

body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
/* margin */
.m-1{
/*  8px */
margin:0.5rem;
}
.m-3{
    margin:1.5rem;
}
.mt-1{
    margin-top:0.5rem;
}
.mb-1{
    margin-bottom: 0.5rem;
}
.mb-2{
    margin-bottom: 1rem;
}
.mt-2{
 margin-top:1rem;
}
.mt-3{
 margin-top:1.5rem;
}
.m-2{
margin:1rem;
}
.ml-1{
    margin-left:0.5rem;
}
.ml-2{
    margin-left:1rem;
}
.ml-3{
    margin-left:1.5rem;
}
.mr-1{
    margin-right: 0.5rem;
}
.mr-2{
    margin-right: 1rem;
}

/* padding */
.pt-0{
    padding-top: 0rem;
}
.pt-1{
padding-top: 0.5rem;
}
.pt-2{
padding-top: 1rem;
}
.pb-0{
    padding-bottom: 0rem;
}
.pb-1{
    padding-bottom: 0.5rem;
}

.pb-1{
    padding-bottom: 1rem;
}
/*text-color*/
.text-grey{
color:var( --text-grey-color);
}
/* Header-Section*/

.header-component{
    box-sizing:border-box;
    background-color: var(--theme-color);
    height:3rem;
    display:flex;
    justify-content: space-between;
    }
 /* header-logo */
.header-logo{
    display: flex;
}

.icon-size-regular{ 
    padding:1rem;
    font-size: 1.2rem;

    
}
.icon-size-regular:hover{
    cursor: pointer;
}

.white-icon{
    color: #fff
}
.header-text{
    color: #fff;
    padding:1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/* header-navigation-tabs */

.navigation-tabs-header{
    display:flex;

}

/* badge component  */
.component-container{
  margin:3rem 5rem;
  padding:2rem;
  border: 1px solid  var(--grey-border-color);
  border-radius: 0.25rem;
}

/* .badge-component:nth-child(1){
    position: relative;
} */
.text-small-badge{
    position: relative;
}


.notification-text-badge{
border-radius:50%;
position:absolute;
}

.small-badge{
    height: 1.25rem;
    width:  1.25rem;
    display:flex;
    justify-content: center;
}

.position-text-badge{
    top: 8rem;
    left:15.5rem;
    
}
.theme-color{
    background-color: var(--theme-color);
}
.position-pink-badge{
    top: 11.5rem;
    left:19.5rem;
    background-color: #f87171;
}
.position-red-badge{
    bottom: 1.7rem;
    left:0.6rem;
    background-color: #d82a2a;
}
.position-hide-badge{
    left:2.8rem;
    bottom:1.3rem;
}
.action-btn{
    height: 2rem;
    width:4rem;
    position: relative;
}
.number-notification-small{
    color:#fff;
    font-weight: bold;
    padding-top: 2px; 
    font-size: 0.8rem;    
}

.number-notification-large{
    color:#fff;
    font-weight: bold;
    padding-top: 4px;     
}
.position-large-badge{
    height: 1.65rem;
    width:  1.65rem;
    top: 9.7rem;
    left:17.5rem;
    display:flex;
    justify-content: center;
    background-color: var(--theme-color);
}

.badge-text-large{
    position: relative; 
}

.btn-primary{
    
    /* padding:0.5rem; */
    background-color: var(--theme-color);
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.btn-secondary{
    
    /* padding:0.5rem; */
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: bold;
    border:1px solid gray;

}

.hide-btn{
    position:relative;
    height: 2rem;
    width:4rem;
}

.hide-btn:hover{
    cursor: pointer;
}
.btn-badge-container{
    display:flex;
}

.mail-icon{
    font-size: 1.3rem;
    position:relative;
}

/* Drawer component */
.drawer-component{
    background-color: var(--grey-background-color);
}
.drawer-container{
    display: flex;
    justify-content: center;
    
}
.drawer{
    width:15rem;
    background-color: white;
    border-radius: 0.125rem;
    padding:1rem;
}
.drawer-title{
    font-size: 1.25rem;
}

.drawer-list-item{
    padding: 0.5rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
}
.drawer-list-item:hover{
    cursor: pointer;
    background-color: var(--grey-background-color);
    color: var(--theme-color);
}
.drawer-subtext{
    font-size: 0.875rem;
    color: var(--text-grey-color);
    padding:0.125rem 0rem;
}
.drawer-list{
    display:flex;
    flex-direction: column;
}
/* Snackbar Component */
.snackbar-component{
  position:relative;
}

.btn-snackbar{
    height:2rem;
    width:5rem;
}
.btn-snackbar:hover{
    cursor: pointer;
}

.snackbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    background-color: var(--black-backgrond);
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 0.5rem;
    z-index: 1111111;
}
.snackbar-stacked{
    display:flex;
    flex-direction: column;
    width:31rem;
    color:white;
    background-color: var(--black-backgrond);
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 0.4rem;
    z-index: 22222222;
}
.snackbar-btn{
    color: #bb86fc;
    background-color: var(--black-backgrond);
    font-weight: bold;
    margin-left:1rem;
}
.snackbar-btn:hover{
cursor: pointer;
}
.close-icon{
    cursor: pointer;
    margin-left: 1rem;
}
.btn-close-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    
}

.snackbar-baseline{
    width:27rem;
}
.snackbar-leading{
    width: 22rem;
}

#snackbar-baseline{
    display:none;
}

#snackbar-leading{
    display:none;  
}

#snackbar-stacked{
    display:none;   
}