*{
    padding:0px;
    margin:0px;
    border:0px;
}
:root{
    --primary-color: #333DF9FF ;
    --grey-color:#6B7280;
    --notification-badge-color:#08199e;
}

body{
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.badge-component{
margin:10px;
padding:10px;
}

.container{
    /* display:flex;
    flex-direction: column;
    justify-content: center; */
}

.white-icon{
    color:white
}

.header-component{
background-color: var(--primary-color);
height:3rem;
}

/* .notification-text-badge{
background-color: var(--notification-badge-color);
height:25px;
width:25px;
border-radius:50%;
position:absolute
} */

.badge-text-large{
    position: relative; 
}

/* .notification-text-large-badge{
    background-color: var(--notification-badge-color);
    height:25px;
    width:25px;
    border-radius:50%;
    position:absolute;
    top:1rem;
    left:1rem;
} */

.badge-text{
    position: relative;
}